<form class="{{cssClass}}" autocomplete="off">

	{{!-- En-tête de la feuille de pj --}}
	<header class="en-tête-feuille">
		<div class="id-perso">
			<img class="vignette" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
			<h1 class="nom-perso"><input id="name" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'RdD.Name'}}" /></h1>
		</div>
		<div class="grpSignesPart ligne-saisie">
			<label for="heureNaissance">{{localize 'RdD.actor.signesPart.hn'}}</label>
			<select id="heureNaissance" name="data.signesPart.hn.value">
				{{RdDSelect "RdD.heuresDeNaissance" data.data.signesPart.hn.value}}
			</select>
		</div>
		<div class="grpSignesPart ligne-saisie alignement">
			<label for="sexe">{{localize 'RdD.actor.signesPart.sexe'}}</label>
			<select name="data.signesPart.sexe.value" id="sexe">
				{{RdDSelect "RdD.sexe" data.data.signesPart.sexe.value}}
			</select>
			<label for="âge">{{localize 'RdD.actor.signesPart.âge'}}</label>
			<input type="number" id="âge" name="data.signesPart.âge.value" value="{{data.data.signesPart.âge.value}}">
		</div>
		<div class="grpSignesPart ligne-saisie alignement">
			<label for="spTaille">{{localize 'RdD.actor.signesPart.taille'}}</label>
			<input type="number" id="spTaille" name="data.signesPart.taille.value" value="{{RdDNumFormat data.data.signesPart.taille.value décimales=2}}">
			<label for="poids">{{localize 'RdD.actor.signesPart.poids'}}</label>
			<input type="number" id="poids" name="data.signesPart.poids.value" value="{{data.data.signesPart.poids.value}}">
		</div>
		<div class="grpSignesPart ligne-saisie">
			<label for="cheveux">{{localize 'RdD.actor.signesPart.cheveux'}}</label>
			<input type="text" id="cheveux" name="data.signesPart.cheveux.value" value="{{data.data.signesPart.cheveux.value}}">
			<label for="yeux">{{localize 'RdD.actor.signesPart.yeux'}}</label>
			<input type="text" id="yeux" name="data.signesPart.yeux.value" value="{{data.data.signesPart.yeux.value}}">
			<label for="beauté">{{localize 'RdD.actor.signesPart.beauté'}}</label>
			<input type="number" id="beauté" name="data.signesPart.beauté.value" value="{{data.data.signesPart.beauté.value}}">
		</div>
		<div class="grpSignesPart ligne-saisie">
			<label for="latéralité">{{localize 'RdD.actor.signesPart.latéralité'}}</label>
			<select id="latéralité" name="data.signesPart.latéralité.mainDominante">
				{{RdDSelect "RdD.latéralité" data.data.signesPart.latéralité.mainDominante}}
			</select>
		</div>
	</header>
	
	{{!-- Barre des onglets de le feuille --}}
	<nav class="tabs" data-group="principal">
		<a class="item" data-tab="états">{{localize 'RdD.actor.pj.tabPrincipal.états'}}</a>
		<a class="item" data-tab="caractéristiques">{{localize 'RdD.actor.pj.tabPrincipal.caractéristiques'}}</a>
		<a class="item" data-tab="compétences">{{localize 'RdD.actor.pj.tabPrincipal.compétences'}}</a>
		<a class="item" data-tab="combat">{{localize 'RdD.actor.pj.tabPrincipal.combat'}}</a>
		<a class="item" data-tab="santé">{{localize 'RdD.actor.pj.tabPrincipal.santé'}}</a>
		<a class="item" data-tab="haut-rêve">{{localize 'RdD.actor.pj.tabPrincipal.haut-rêve'}}</a>
		<a class="item" data-tab="vécu">{{localize 'RdD.actor.pj.tabPrincipal.vécu'}}</a>
		<a class="item" data-tab="inventaire">{{localize 'RdD.actor.pj.tabPrincipal.inventaire'}}</a>
		<a class="item" data-tab="description">{{localize 'RdD.actor.pj.tabPrincipal.description'}}</a>
	</nav>
	
	{{!-- Onglet présentant les états du PJ --}}
	<section class="content">
		<div class="tab" data-group="principal" data-tab="états">
			<p class="lig-malus-état"><span>{{localize 'RdD.actor.états.étatGénéral'}}&nbsp;: </span><span>{{data.data.états.étatGénéral.value}}</span></p>
			<p class="lig-malus-état"><span>{{localize 'RdD.actor.états.ptViePerdus'}}&nbsp;: </span><span>{{data.data.états.ptViePerdus.value}}</span></p>
			<p class="lig-malus-état"><span>{{localize 'RdD.actor.états.malusFatigue'}}&nbsp;: </span><span>{{data.data.états.malusFatigue.value}}</span></p>
			<p class="lig-malus-état"><span>{{localize 'RdD.actor.états.malusEncombrement'}}&nbsp;: </span><span>{{data.data.états.malusEncombrement.value}}</span></p>
			<p class="lig-malus-état"><span>{{localize 'RdD.actor.états.malusÉthylisme'}}&nbsp;: </span><span>{{data.data.états.malusÉthylisme.value}}</span></p>
			<p class="lig-malus-état"><span>{{localize 'RdD.actor.états.malusArmure'}}&nbsp;: </span><span>{{data.data.états.malusArmure.value}}</span></p>
			<div class="lig-états-santé">
				<span>{{localize 'RdD.actor.états.sonné'}}&nbsp;: </span>
				<input type="checkbox" name="data.états.sonné.value" {{checked data.data.états.sonné.value}}>
			</div>
			<div class="lig-états-santé">
				<span>{{localize 'RdD.actor.états.inconscient'}}&nbsp;: </span>
				<input type="checkbox" name="data.états.inconscient.value" {{checked data.data.états.inconscient.value}}>
			</div>
			<div class="lig-états-santé">
				<span>{{localize 'RdD.actor.états.coma'}}&nbsp;: </span>
				<input type="checkbox" name="data.états.coma.value" {{checked data.data.états.coma.value}}>
			</div>
			<div class="lig-états-santé">
				<span>{{localize 'RdD.actor.états.malade'}}&nbsp;: </span>
				<input type="checkbox" name="data.états.malade.value" {{checked data.data.états.malade.value}}>
			</div>
			<div class="lig-états-santé">
				<span>{{localize 'RdD.actor.états.empoisonné'}}&nbsp;: </span>
				<input type="checkbox" name="data.états.empoisonné.value" {{checked data.data.états.empoisonné.value}}>
			</div>
		</div>

		{{!-- Onglet de gestion des caractéristiques du PJ --}}
		<div class="tab" data-group="principal" data-tab="caractéristiques">
			<section class="zoneCarac">
				<div>
					<div class="lig-carac ligne-saisie">
						<div><i class="fas fa-square"></i></div>
						<label for="taille">{{localize 'RdD.actor.caracs.taille'}}</label>
						<input type="number" id="taille" name="data.caracs.taille.value" value="{{data.data.caracs.taille.value}}">
					</div>
					<div class="lig-carac ligne-saisie">
						<div><i class="fas fa-square"></i></div>
						<label for="apparence">{{localize 'RdD.actor.caracs.apparence'}}</label>
						<input type="number" id="apparence" name="data.caracs.apparence.value" value="{{data.data.caracs.apparence.value}}">
						<span> {{localize 'RdD.actor.pj.xp'}} </span>
						<input type="number" id="apparence-xp" name="data.caracs.apparence.xp" value="{{data.data.caracs.apparence.xp}}">
					</div>
					<div class="lig-carac ligne-saisie">
						<div><i class="fas fa-square"></i></div>
						<label for="constitution.value">{{localize 'RdD.actor.caracs.constitution'}}</label>
						<input type="number" id="constitution" name="data.caracs.constitution.value" value="{{data.data.caracs.constitution.value}}">
						<span> {{localize 'RdD.actor.pj.xp'}} </span>
						<input type="number" id="constitution-xp" name="data.caracs.constitution.xp" value="{{data.data.caracs.constitution.xp}}">
					</div>
					<div class="lig-carac ligne-saisie">
						<div><i class="fas fa-square"></i></div>
						<label for="force.value">{{localize 'RdD.actor.caracs.force'}}</label>
						<input type="number" id="force" name="data.caracs.force.value" value="{{data.data.caracs.force.value}}">
						<span> {{localize 'RdD.actor.pj.xp'}} </span>
						<input type="number" id="force-xp" name="data.caracs.force.xp" value="{{data.data.caracs.force.xp}}">
					</div>
					<div class="lig-carac ligne-saisie">
						<div><i class="fas fa-square"></i></div>
						<label for="agilité.value">{{localize 'RdD.actor.caracs.agilité'}}</label>
						<input type="number" id="agilité" name="data.caracs.agilité.value" value="{{data.data.caracs.agilité.value}}">
						<span> {{localize 'RdD.actor.pj.xp'}} </span>
						<input type="number" id="agilité-xp" name="data.caracs.agilité.xp" value="{{data.data.caracs.agilité.xp}}">
					</div>
					<div class="lig-carac ligne-saisie">
						<div><i class="fas fa-square"></i></div>
						<label for="dextérité.value">{{localize 'RdD.actor.caracs.dextérité'}}</label>
						<input type="number" id="dextérité" name="data.caracs.dextérité.value" value="{{data.data.caracs.dextérité.value}}">
						<span> {{localize 'RdD.actor.pj.xp'}} </span>
						<input type="number" id="dextérité-xp" name="data.caracs.dextérité.xp" value="{{data.data.caracs.dextérité.xp}}">
					</div>
					<div class="lig-carac ligne-saisie">
						<div><i class="fas fa-square"></i></div>
						<label for="vue.value">{{localize 'RdD.actor.caracs.vue'}}</label>
						<input type="number" id="vue" name="data.caracs.vue.value" value="{{data.data.caracs.vue.value}}">
						<span> {{localize 'RdD.actor.pj.xp'}} </span>
						<input type="number" id="vue-xp" name="data.caracs.vue.xp" value="{{data.data.caracs.vue.xp}}">
					</div>
					<div class="lig-carac ligne-saisie">
						<div><i class="fas fa-square"></i></div>
						<label for="ouïe.value">{{localize 'RdD.actor.caracs.ouïe'}}</label>
						<input type="number" id="ouïe" name="data.caracs.ouïe.value" value="{{data.data.caracs.ouïe.value}}">
						<span> {{localize 'RdD.actor.pj.xp'}} </span>
						<input type="number" id="ouïe-xp" name="data.caracs.ouïe.xp" value="{{data.data.caracs.ouïe.xp}}">
					</div>
					<div class="lig-carac ligne-saisie">
						<div><i class="fas fa-square"></i></div>
						<label for="odorat_goût.value">{{localize 'RdD.actor.caracs.odorat_goût'}}</label>
						<input type="number" id="odorat_goût" name="data.caracs.odorat_goût.value" value="{{data.data.caracs.odorat_goût.value}}">
						<span> {{localize 'RdD.actor.pj.xp'}} </span>
						<input type="number" id="odorat_goût-xp" name="data.caracs.odorat_goût.xp" value="{{data.data.caracs.odorat_goût.xp}}">
					</div>
				</div>
				<div>
					<div class="lig-carac ligne-saisie">
						<div><i class="fas fa-square"></i></div>
						<label for="volonté.value">{{localize 'RdD.actor.caracs.volonté'}}</label>
						<input type="number" id="volonté" name="data.caracs.volonté.value" value="{{data.data.caracs.volonté.value}}">
						<span> {{localize 'RdD.actor.pj.xp'}} </span>
						<input type="number" id="volonté-xp" name="data.caracs.volonté.xp" value="{{data.data.caracs.volonté.xp}}">
					</div>
					<div class="lig-carac ligne-saisie">
						<div><i class="fas fa-square"></i></div>
						<label for="intellect.value">{{localize 'RdD.actor.caracs.intellect'}}</label>
						<input type="number" id="intellect" name="data.caracs.intellect.value" value="{{data.data.caracs.intellect.value}}">
						<span> {{localize 'RdD.actor.pj.xp'}} </span>
						<input type="number" id="intellect-xp" name="data.caracs.intellect.xp" value="{{data.data.caracs.intellect.xp}}">
					</div>
					<div class="lig-carac ligne-saisie">
						<div><i class="fas fa-square"></i></div>
						<label for="empathie.value">{{localize 'RdD.actor.caracs.empathie'}}</label>
						<input type="number" id="empathie" name="data.caracs.empathie.value" value="{{data.data.caracs.empathie.value}}">
						<span> {{localize 'RdD.actor.pj.xp'}} </span>
						<input type="number" id="empathie-xp" name="data.caracs.empathie.xp" value="{{data.data.caracs.empathie.xp}}">
					</div>
					<div class="lig-carac ligne-saisie">
						<div><i class="fas fa-square"></i></div>
						<label for="rêve.value">{{localize 'RdD.actor.caracs.rêve'}}</label>
						<input type="number" id="rêve" name="data.caracs.rêve.value" value="{{data.data.caracs.rêve.value}}">
						<span> {{localize 'RdD.actor.pj.xp'}} </span>
						<input type="number" id="rêve-xp" name="data.caracs.rêve.xp" value="{{data.data.caracs.rêve.xp}}">
					</div>
					<div class="lig-carac ligne-saisie">
						<div><i class="fas fa-square"></i></div>
						<label for="chance.value">{{localize 'RdD.actor.caracs.chance'}}</label>
						<input type="number" id="chance" name="data.caracs.chance.value" value="{{data.data.caracs.chance.value}}">
						<span> {{localize 'RdD.actor.pj.xp'}} </span>
						<input type="number" id="chance-xp" name="data.caracs.chance.xp" value="{{data.data.caracs.chance.xp}}">
					</div>
					<p class="lig-carac-dériv"><i class="fas fa-square"></i><span>{{localize 'RdD.actor.caracsDériv.mêlée'}}&nbsp;: </span><span><span class="nbr-affchg">{{data.data.caracsDériv.mêlée.value}}</span></span></p>
					<p class="lig-carac-dériv"><i class="fas fa-square"></i><span>{{localize 'RdD.actor.caracsDériv.tir'}}&nbsp;: </span><span><span class="nbr-affchg">{{data.data.caracsDériv.tir.value}}</span></span></p>
					<p class="lig-carac-dériv"><i class="fas fa-square"></i><span>{{localize 'RdD.actor.caracsDériv.lancer'}}&nbsp;: </span><span><span class="nbr-affchg">{{data.data.caracsDériv.lancer.value}}</span></span></p>
					<p class="lig-carac-dériv"><i class="fas fa-square"></i><span>{{localize 'RdD.actor.caracsDériv.dérobée'}}&nbsp;: </span><span><span class="nbr-affchg">{{data.data.caracsDériv.dérobée.value}}</span></span></p>
				</div>
			</section>
		</div>

		{{!-- Onglet de gestion des compétences du PJ --}}
		<div class="tab" data-group="principal" data-tab="compétences">
			<h2>{{localize 'RdD.actor.cptcGénérales.titre'}}</h2>
			<ul>
				{{#each itemsParType.compétence-générale as |cptcItem id|}}
				<li class="cptc-lig" data-cptc-id="{{cptcItem._id}}">
					<div><i class="fas fa-square"></i></div>
					<div class="cptc-nom">{{localize (RdDRemplaceExpression 'RdD.item.compétence.liste.&&&' cptcItem.data.codeLibellé)}}</div>
					<div class="nbr-affchg-bloc">{{cptcItem.data.value}}</div>
					<div class="nbren-ligne"><span>{{localize 'RdD.item.compétence.xp'}}:</span> <span>{{cptcItem.data.xp}}</span></div>
					<div>
						{{#if cptcItem.data.vocation}}
						{{localize 'RdD.item.compétence.vocationAbrv'}}
						{{else}}
						
						{{/if}}
					</div>
					<div class="nbren-ligne"><span>{{localize 'RdD.item.compétence.archétypeAbrv'}}:</span> <span>{{cptcItem.data.archétype}}</span></div>
					<div>
						{{RdDPlusMoins cptcItem.plusMoins}}
					</div>
					<div>
						<a class="cptc-edit"><i class="fas fa-edit"></i></a>
					</div>
					{{#if cptcItem.data.spécialisable}}
					<div class="cptc-spécialité">{{cptcItem.data.spécialité}}</div>
					{{/if}}
				</li>
				{{/each}}
			</ul>
			<h2>{{localize 'RdD.actor.cptcMêlée.titre'}}</h2>
			<ul>
				{{#each itemsParType.compétence-mêlée as |cptcItem id|}}
				<li class="cptc-lig" data-cptc-id="{{cptcItem._id}}">
					<div><i class="fas fa-square"></i></div>
					<div class="cptc-nom">{{localize (RdDRemplaceExpression 'RdD.item.compétence.liste.&&&' cptcItem.data.codeLibellé)}}</div>
					<div class="nbr-affchg-bloc">{{cptcItem.data.value}}</div>
					<div class="nbren-ligne"><span>{{localize 'RdD.item.compétence.xp'}}:</span> <span>{{cptcItem.data.xp}}</span></div>
					<div>
						{{#if cptcItem.data.vocation}}
							{{localize 'RdD.item.compétence.vocationAbrv'}}
						{{else}}
							 
						{{/if}}
					</div>
					<div class="nbren-ligne"><span>{{localize 'RdD.item.compétence.archétypeAbrv'}}:</span> <span>{{cptcItem.data.archétype}}</span></div>
					<div>
						{{RdDPlusMoins cptcItem.plusMoins}}
					</div>
					<div>
						<a class="cptc-edit"><i class="fas fa-edit"></i></a>
					</div>
					{{#if cptcItem.data.spécialisable}}
					<div class="cptc-spécialité">{{cptcItem.data.spécialité}}</div>
					{{/if}}
				</li>
				{{/each}}
			</ul>
			<h2>{{localize 'RdD.actor.cptcTirLancer.titre'}}</h2>
			<ul>
				{{#each itemsParType.compétence-tirLancer as |cptcItem id|}}
				<li class="cptc-lig" data-cptc-id="{{cptcItem._id}}">
					<div><i class="fas fa-square"></i></div>
					<div class="cptc-nom">{{localize (RdDRemplaceExpression 'RdD.item.compétence.liste.&&&' cptcItem.data.codeLibellé)}}</div>
					<div class="nbr-affchg-bloc">{{cptcItem.data.value}}</div>
					<div class="nbren-ligne"><span>{{localize 'RdD.item.compétence.xp'}}:</span> <span>{{cptcItem.data.xp}}</span></div>
					<div>
						{{#if cptcItem.data.vocation}}
							{{localize 'RdD.item.compétence.vocationAbrv'}}
						{{else}}
							 
						{{/if}}
					</div>
					<div class="nbren-ligne"><span>{{localize 'RdD.item.compétence.archétypeAbrv'}}:</span> <span>{{cptcItem.data.archétype}}</span></div>
					<div>
						{{RdDPlusMoins cptcItem.plusMoins}}
					</div>
					<div>
						<a class="cptc-edit"><i class="fas fa-edit"></i></a>
					</div>
					{{#if cptcItem.data.spécialisable}}
					<div class="cptc-spécialité">{{cptcItem.data.spécialité}}</div>
					{{/if}}
				</li>
				{{/each}}
			</ul>
			<h2>{{localize 'RdD.actor.cptcParticulières.titre'}}</h2>
			<ul>
				{{#each itemsParType.compétence-particulière as |cptcItem id|}}
				<li class="cptc-lig" data-cptc-id="{{cptcItem._id}}">
					<div><i class="fas fa-square"></i></div>
					<div class="cptc-nom">{{localize (RdDRemplaceExpression 'RdD.item.compétence.liste.&&&' cptcItem.data.codeLibellé)}}</div>
					<div class="nbr-affchg-bloc">{{cptcItem.data.value}}</div>
					<div class="nbren-ligne"><span>{{localize 'RdD.item.compétence.xp'}}:</span> <span>{{cptcItem.data.xp}}</span></div>
					<div>
						{{#if cptcItem.data.vocation}}
							{{localize 'RdD.item.compétence.vocationAbrv'}}
						{{else}}
							 
						{{/if}}
					</div>
					<div class="nbren-ligne"><span>{{localize 'RdD.item.compétence.archétypeAbrv'}}:</span> <span>{{cptcItem.data.archétype}}</span></div>
					<div>
						{{RdDPlusMoins cptcItem.plusMoins}}
					</div>
					<div>
						<a class="cptc-edit"><i class="fas fa-edit"></i></a>
					</div>
					{{#if cptcItem.data.spécialisable}}
					<div class="cptc-spécialité">{{cptcItem.data.spécialité}}</div>
					{{/if}}
				</li>
				{{/each}}
			</ul>
			<h2>{{localize 'RdD.actor.cptcSpécialisées.titre'}}</h2>
			<ul>
				{{#each itemsParType.compétence-spécialisée as |cptcItem id|}}
				<li class="cptc-lig" data-cptc-id="{{cptcItem._id}}">
					<div><i class="fas fa-square"></i></div>
					<div class="cptc-nom">{{localize (RdDRemplaceExpression 'RdD.item.compétence.liste.&&&' cptcItem.data.codeLibellé)}}</div>
					<div class="nbr-affchg-bloc">{{cptcItem.data.value}}</div>
					<div class="nbren-ligne"><span>{{localize 'RdD.item.compétence.xp'}}:</span> <span>{{cptcItem.data.xp}}</span></div>
					<div>
						{{#if cptcItem.data.vocation}}
							{{localize 'RdD.item.compétence.vocationAbrv'}}
						{{else}}
							 
						{{/if}}
					</div>
					<div class="nbren-ligne"><span>{{localize 'RdD.item.compétence.archétypeAbrv'}}:</span> <span>{{cptcItem.data.archétype}}</span></div>
					<div>
						{{RdDPlusMoins cptcItem.plusMoins}}
					</div>
					<div>
						<a class="cptc-edit"><i class="fas fa-edit"></i></a>
					</div>
					{{#if cptcItem.data.spécialisable}}
					<div class="cptc-spécialité">{{cptcItem.data.spécialité}}</div>
					{{/if}}
				</li>
				{{/each}}
			</ul>
			<h2>{{localize 'RdD.actor.Connaissances.titre'}}</h2>
			<ul>
				{{#each itemsParType.compétence-connaissance as |cptcItem id|}}
				<li class="cptc-lig" data-cptc-id="{{cptcItem._id}}">
					<div><i class="fas fa-square"></i></div>
					<div class="cptc-nom">{{localize (RdDRemplaceExpression 'RdD.item.compétence.liste.&&&' cptcItem.data.codeLibellé)}}</div>
					<div class="nbr-affchg-bloc">{{cptcItem.data.value}}</div>
					<div class="nbren-ligne"><span>{{localize 'RdD.item.compétence.xp'}}:</span> <span>{{cptcItem.data.xp}}</span></div>
					<div>
						{{#if cptcItem.data.vocation}}
							{{localize 'RdD.item.compétence.vocationAbrv'}}
						{{else}}
							 
						{{/if}}
					</div>
					<div class="nbren-ligne"><span>{{localize 'RdD.item.compétence.archétypeAbrv'}}:</span> <span>{{cptcItem.data.archétype}}</span></div>
					<div>
						{{RdDPlusMoins cptcItem.plusMoins}}
					</div>
					<div>
						<a class="cptc-edit"><i class="fas fa-edit"></i></a>
					</div>
					{{#if cptcItem.data.spécialisable}}
					<div class="cptc-spécialité">{{cptcItem.data.spécialité}}</div>
					{{/if}}
				</li>
				{{/each}}
			</ul>
			<h2>{{localize 'RdD.actor.Draconic.titre'}}</h2>
			<ul>
				{{#each itemsParType.compétence-draconic as |cptcItem id|}}
				<li class="cptc-lig cptc-draconic" data-cptc-id="{{cptcItem._id}}">
					<div><i class="fas fa-square"></i></div>
					<div class="cptc-nom">{{localize (RdDRemplaceExpression 'RdD.item.compétence.liste.&&&' cptcItem.data.codeLibellé)}}</div>
					<div class="nbr-affchg-bloc">{{cptcItem.data.value}}</div>
					<div class="nbren-ligne"><span>{{localize 'RdD.item.compétence.xp'}}:</span> <span>{{cptcItem.data.xp}}</span></div>
					<div> </div>
					<div class="nbren-ligne"><span>{{localize 'RdD.item.compétence.archétypeAbrv'}}:</span> <span>{{cptcItem.data.archétype}}</span></div>
					<div> </div>
					<div>
						<a class="cptc-edit"><i class="fas fa-edit"></i></a>
					</div>
					<div class="ptSort">{{localize 'RdD.item.compétence.ptSort'}} {{cptcItem.data.ptSort}}</div>
				</li>
				{{/each}}
			</ul>
		</div>

		{{!-- Onglet de gestion du combat du PJ --}}
		<div class="tab" data-group="principal" data-tab="combat">
			<p><span>{{localize 'RdD.actor.seuils.plusDom'}}&nbsp;: </span><span><span class="nbr-affchg">{{RdDNumFormat data.data.seuils.plusDom.value signe=true}}</span></span></p>
			<p><span>{{localize 'RdD.actor.seuils.protection'}}&nbsp;: </span><span><span class="nbr-affchg">{{data.data.seuils.protection.value}}</span></span></p>
		</div>

		{{!-- Onglet de gestion de la santé du PJ --}}
		<div class="tab" data-group="principal" data-tab="santé">
			<p><span>{{localize 'RdD.actor.seuils.sc'}}&nbsp;: </span><span>{{data.data.seuils.sc.value}}</span></p>
			<div class="vie-end">
				<label for="vie">{{localize 'RdD.actor.cptr.vie'}} ({{data.data.cptr.vie.max}})</label>
				<input type="number" id="vie" name="data.cptr.vie.value" value="{{data.data.cptr.vie.value}}">
				<label for="endurance">{{localize 'RdD.actor.cptr.endurance'}} ({{data.data.cptr.endurance.max}})</label>
				<input type="number" id="endurance" name="data.cptr.endurance.value" value="{{data.data.cptr.endurance.value}}">
			</div>
			<p><span>{{localize 'RdD.actor.cptr.fatigue.titre'}}&nbsp;: </span><span>{{data.data.cptr.fatigue.niveauActuel}}</span></p>
			<div class="fatigue ligne-saisie lignes01">
				<span><span class="nbr-affchg">{{localize 'RdD.actor.cptr.fatigue.niveau0'}}&nbsp;:&nbsp;</span></span>
				{{#each data.data.cptr.fatigue.niveaux.0.segments as |segment ind|}}
				<span>
					<input type="number" name="RdDtemp.cptr.fatigue.niveaux.0.segments.{{ind}}.value" value="{{segment.value}}">
					<span>/</span>
					<span class="max">{{segment.max}}</span>
				</span>
				{{#unless @last}}
				<span> — </span>
				{{/unless}}
				{{/each}}
			</div>
			<div class="fatigue ligne-saisie lignes01">
				<span><span class="nbr-affchg">{{localize 'RdD.actor.cptr.fatigue.niveau-1'}}&nbsp;:&nbsp;</span></span>
				{{#each data.data.cptr.fatigue.niveaux.1.segments as |segment ind|}}
				<span>
					<input type="number" name="RdDtemp.cptr.fatigue.niveaux.1.segments.{{ind}}.value" value="{{segment.value}}">
					<span>/</span>
					<span class="max">{{segment.max}}</span>
				</span>
				{{#unless @last}}
				<span> — </span>
				{{/unless}}
				{{/each}}
			</div>
			<div class="fatigue ligne-saisie lignes2plus">
				<span><span class="nbr-affchg">{{localize 'RdD.actor.cptr.fatigue.niveau-2'}}&nbsp;:&nbsp;</span></span>
				<span>
					<input type="number" name="RdDtemp.cptr.fatigue.niveaux.2.segments.0.value" value="{{data.data.cptr.fatigue.niveaux.2.segments.0.value}}">
					<span>/</span>
					<span class="max">{{data.data.cptr.fatigue.niveaux.2.segments.0.max}}</span>
				</span>
			</div>
			<div class="fatigue ligne-saisie lignes2plus">
				<span><span class="nbr-affchg">{{localize 'RdD.actor.cptr.fatigue.niveau-3'}}&nbsp;:&nbsp;</span></span>
				<span>
					<input type="number" name="RdDtemp.cptr.fatigue.niveaux.3.segments.0.value" value="{{data.data.cptr.fatigue.niveaux.3.segments.0.value}}">
					<span>/</span>
					<span class="max">{{data.data.cptr.fatigue.niveaux.3.segments.0.max}}</span>
				</span>
			</div>
			<div class="fatigue ligne-saisie lignes2plus">
				<span><span class="nbr-affchg">{{localize 'RdD.actor.cptr.fatigue.niveau-4'}}&nbsp;:&nbsp;</span></span>
				<span>
					<input type="number" name="RdDtemp.cptr.fatigue.niveaux.4.segments.0.value" value="{{data.data.cptr.fatigue.niveaux.4.segments.0.value}}">
					<span>/</span>
					<span class="max">{{data.data.cptr.fatigue.niveaux.4.segments.0.max}}</span>
				</span>
			</div>
			<div class="fatigue ligne-saisie lignes2plus">
				<span><span class="nbr-affchg">{{localize 'RdD.actor.cptr.fatigue.niveau-5'}}&nbsp;:&nbsp;</span></span>
				<span>
					<input type="number" name="RdDtemp.cptr.fatigue.niveaux.5.segments.0.value" value="{{data.data.cptr.fatigue.niveaux.5.segments.0.value}}">
					<span>/</span>
					<span class="max">{{data.data.cptr.fatigue.niveaux.5.segments.0.max}}</span>
				</span>
			</div>
			<div class="fatigue ligne-saisie lignes2plus">
				<span><span class="nbr-affchg">{{localize 'RdD.actor.cptr.fatigue.niveau-6'}}&nbsp;:&nbsp;</span></span>
				<span>
					<input type="number" name="RdDtemp.cptr.fatigue.niveaux.6.segments.0.value" value="{{data.data.cptr.fatigue.niveaux.6.segments.0.value}}">
					<span>/</span>
					<span class="max">{{data.data.cptr.fatigue.niveaux.6.segments.0.max}}</span>
				</span>
			</div>
			<div class="fatigue ligne-saisie lignes2plus">
				<span><span class="nbr-affchg">{{localize 'RdD.actor.cptr.fatigue.niveau-7'}}&nbsp;:&nbsp;</span></span>
				<span>
					<input type="number" name="RdDtemp.cptr.fatigue.niveaux.7.segments.0.value" value="{{data.data.cptr.fatigue.niveaux.7.segments.0.value}}">
					<span>/</span>
					<span class="max">{{data.data.cptr.fatigue.niveaux.7.segments.0.max}}</span>
				</span>
			</div>
			<p><span>{{localize 'RdD.actor.cptr.blessures.titre'}}&nbsp;:</span></p>
			<div class="blessures légères">
				<span>{{localize 'RdD.actor.cptr.blessures.légères'}}&nbsp;:</span>
				{{#each data.data.cptr.blessures.légères as |légère ind|}}
				<input type="checkbox" name="RdDtemp.cptr.blessures.légères.{{ind}}.blessé" {{checked légère.blessé}}>
				{{/each}}
			</div>
			<div class="blessures graves">
				<span>{{localize 'RdD.actor.cptr.blessures.graves'}}&nbsp;:</span>
				{{#each data.data.cptr.blessures.graves as |grave ind|}}
				<input type="checkbox" name="RdDtemp.cptr.blessures.graves.{{ind}}.blessé" {{checked grave.blessé}}>
				{{/each}}
			</div>
			<div class="blessures critiques">
				<span>{{localize 'RdD.actor.cptr.blessures.critique'}}&nbsp;:</span>
				{{#each data.data.cptr.blessures.critique as |critique ind|}}
				<input type="checkbox" name="RdDtemp.cptr.blessures.critique.{{ind}}.blessé" {{checked critique.blessé}}>
				{{/each}}
			</div>
			<div>
				<p><span>{{localize 'RdD.actor.seuils.sust'}}&nbsp;: </span><span>{{data.data.seuils.sust.value}}</span></p>
				<div class="sust-eau ligne-saisie">
					<label for="sust">{{localize 'RdD.actor.pj.compteursPJ.sustentationQuotidienne.sust'}}</label>
					<input type="number" id="sust" name="data.compteursPJ.sustentationQuotidienne.sust" value="{{data.data.compteursPJ.sustentationQuotidienne.sust}}">
					<label for="eau">{{localize 'RdD.actor.pj.compteursPJ.sustentationQuotidienne.eau'}}</label>
					<input type="number" id="eau" name="data.compteursPJ.sustentationQuotidienne.eau" value="{{data.data.compteursPJ.sustentationQuotidienne.eau}}">
				</div>
			</div>
			<div class="ligne-saisie">
				<label for="éthylisme">{{localize 'RdD.actor.cptr.éthylisme.titre'}} </label>
				<input type="number" id="éthylisme" name="data.cptr.éthylisme.value" value="{{data.data.cptr.éthylisme.value}}">
			</div>
		</div>

		{{!-- Onglet de gestion du haut-rêve du PJ --}}
		<div class="tab" data-group="principal" data-tab="haut-rêve">
			<div class="seuilPtRv ligne-saisie">
				<label for="seuilHR">{{localize 'RdD.actor.cptr.hautRêve.seuil'}}</label>
				<input type="number" id="seuilHR" name="data.cptr.hautRêve.seuil" value="{{data.data.cptr.hautRêve.seuil}}">
				<label for="ptRêve">{{localize 'RdD.actor.cptr.hautRêve.value'}}</label>
				<input type="number" id="ptRêve" name="data.cptr.hautRêve.value" value="{{data.data.cptr.hautRêve.value}}">
			</div>
			<div class="demiRvRflm ligne-saisie">
				<label for="TMRCol">{{localize 'RdD.actor.cptr.hautRêve.demiRêve'}}</label>
				<input type="text" id="TMRCol" name="data.cptr.hautRêve.demiRêve.colonne" value="{{data.data.cptr.hautRêve.demiRêve.colonne}}">
				<input type="number" id="TMRLig" name="data.cptr.hautRêve.demiRêve.ligne" value="{{data.data.cptr.hautRêve.demiRêve.ligne}}">
			</div>
			<div class="demiRvRflm ligne-saisie">
				<label for="refoulement">{{localize 'RdD.actor.cptr.hautRêve.refoulement'}}</label>
				<input type="number" id="refoulement" name="data.cptr.hautRêve.refoulement" value="{{data.data.cptr.hautRêve.refoulement}}">
			</div>
		</div>

		{{!-- Onglet de gestion du vécu du PJ --}}
		<div class="tab" data-group="principal" data-tab="vécu">
			<div class="ligne-saisie">
				<label for="ptChance">{{localize 'RdD.actor.pj.compteursPJ.ptChance'}}</label>
				<input type="number" id="ptChance" name="data.compteursPJ.ptChance.value" value="{{data.data.compteursPJ.ptChance.value}}">
			</div>
			<div class="ligne-saisie">
				<label for="moral">{{localize 'RdD.actor.pj.compteursPJ.moral.titre'}}</label>
				<input type="number" id="moral" name="data.compteursPJ.moral.value" value="{{data.data.compteursPJ.moral.value}}">
				<label for="exalt_dissol">{{localize 'RdD.actor.pj.compteursPJ.moral.exalt_dissol'}}</label>
				<input type="number" id="exalt_dissol" name="data.compteursPJ.moral.exalt_dissol" value="{{data.data.compteursPJ.moral.exalt_dissol}}">
			</div>
			<div class="ligne-saisie">
				<label for="cœur">{{localize 'RdD.actor.pj.compteursPJ.cœur.titre'}}</label>
				<input type="number" id="cœur" name="data.compteursPJ.cœur.value" value="{{data.data.compteursPJ.cœur.value}}">
				<label for="cœurPersonneConcernée">{{localize 'RdD.actor.pj.compteursPJ.cœur.personneConcernée'}}</label>
				<input type="text" id="cœurPersonneConcernée" name="data.compteursPJ.cœur.personneConcernée" value="{{data.data.compteursPJ.cœur.personneConcernée}}">
			</div>
			<div class="ligne-saisie">
				<label for="ptDestinée">{{localize 'RdD.actor.pj.compteursPJ.destinée.ptDestinée'}}</label>
				<input type="number" id="ptDestinée" name="data.compteursPJ.destinée.ptDestinée" value="{{data.data.compteursPJ.destinée.ptDestinée}}">
				<label for="ptVoyage">{{localize 'RdD.actor.pj.compteursPJ.destinée.ptVoyage'}}</label>
				<input type="number" id="ptVoyage" name="data.compteursPJ.destinée.ptVoyage" value="{{data.data.compteursPJ.destinée.ptVoyage}}">
			</div>
			<div class="ligne-saisie">
				<label for="stress">{{localize 'RdD.actor.pj.compteursPJ.stress'}}</label>
				<input type="number" id="stress" name="data.compteursPJ.stress.value" value="{{data.data.compteursPJ.stress.value}}">
			</div>
		</div>

		{{!-- Onglet de gestion de l'inventaire du PJ --}}
		<div class="tab" data-group="principal" data-tab="inventaire">
			<p><span>{{localize 'RdD.actor.seuils.encombrement'}}&nbsp;: </span><span>{{data.data.seuils.encombrement.value}}</span></p>
			<div class="ligne-saisie">
				<label for="encombrement">{{localize 'RdD.actor.cptr.encombrement'}}</label>
				<input type="number" id="encombrement" name="data.cptr.encombrement.value" value="{{data.data.cptr.encombrement.value}}">
				<label for="argent">{{localize 'RdD.actor.cptr.argent'}}</label>
				<input type="number" id="argent" name="data.cptr.argent.total" value="{{data.data.cptr.argent.total}}">
			</div>
		</div>

		{{!-- Onglet de gestion de la description du PJ --}}
		<div class="tab" data-group="principal" data-tab="description">
			{{editor content=data.data.signesPart.description.value target="data.signesPart.description.value" button=true owner=owner editable=editable}}
		</div>
	</section>
	<!--
	<div class="tab items" data-tab="items">
		<ol class="items-list">
			{{#each actor.items as |item id|}}
			<li class="item" data-item-id="{{item.id}}">
				<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
				<h4 class="item-name">{{item.name}}</h4>
				<div class="item-controls">
					<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
					<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
				</div>
			</li>
			{{/each}}
		</ol>
	</div>
-->

</form>